<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new posts</title>
</head>
<body>
    <form method="post" action="/posts">
        <input type="text" name="username" placeholder="username">
        <br>
        <br/>
        
        <textarea name="content" placeholder="write your post"></textarea>
        <br>
        <button type="submit">Submit</button>
    </form>
    
</body>
</html>